<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="hero" class="full">
      <div class="flex-container">
        <div class="item left">
          <div class="top">
            <nav>
              <img src="./img/LogoLingkaran.png" alt="logo" />
              <a href="#about"><i class="fa-solid fa-circle-question"></i></a>
              <a href="#beli"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
          </div>
          <div class="bottom">
            <h1>Bang Ridho Strawberry</h1>
            <p>
              <span>Bang Ridho Strawberry</span>
              adalah salah satu dari UMKM yang sedang berkembang di Kota Jambi.
              Usaha tersebut didirikan oleh Bapak Ridho sejak awal bulan
              September 2020.
            </p>
            <div class="actions">
              <a href="#beli"
                ><i
                  style="margin-right: 1rem"
                  class="fa-solid fa-cart-shopping"
                ></i
                >Beli Stroberi</a
              >
              <a href="#about"
                ><i
                  style="margin-right: 1rem"
                  class="fa-solid fa-circle-question"
                ></i
                >Pelajari Lebih Lanjut</a
              >
            </div>
          </div>
        </div>
        <div class="item right">
          <div class="wrapper">
            <img src="./img/bang_ridho.png" alt="bang_ridho" />
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="full">
      <div class="flex-container">
        <div class="item left">
          <div class="top">
            <h1><i class="fa-solid fa-circle-question"></i>Tentang UMKM</h1>
          </div>
          <div class="grid">
            <div class="itemz">
              <p>Nama UMKM<span>Bang Ridho Strawberry</span></p>
            </div>
            <div class="itemz">
              <p>Alamat Perusahaan<span>Kota Jambi, Handil Jaya</span></p>
            </div>
            <div class="itemz">
              <p>Pimpinan / Pemilik<span>Bang Ridho</span></p>
            </div>
            <div class="itemz">
              <p>Telpon / HP<span>+6281367772959</span></p>
            </div>
            <div class="itemz">
              <p>Klasifikasi Usaha<span>Kecil</span></p>
            </div>
            <div class="itemz">
              <p>Jenis Produk<span>Stroberi</span></p>
            </div>
          </div>
          <div class="bottom"><img src="./img/about.jpg" alt="" /></div>
        </div>
        <div class="item right">
          <div class="top">
            <img src="./img/kartu_nama.png" alt="kartu_nama" />
          </div>
          <div class="bottom">
            <div class="box5">
              <p class="p-box">
                <i class="fa-solid fa-heart fa-2x"></i>
                Bapak Ridho memulai usaha stroberinya sejak tahun 2020 dengan
                memanfaatkan peluang yang ada dan memulai untuk menjalankan
                usaha kecil-kecilan dengan mangkal di beberapa tempat di Kota
                Jambi.
              </p>
              <p class="p-box">
                <i class="fa-solid fa-fire fa-2x"></i>
                Usaha ini terus mengalami perkembangan dari waktu ke waktu.
                Pertama kali beliau berjualan stroberi hanya dengan membuka kios
                kecil-kecilan, selain itu Bapak Ridho hanya memiliki lapak
                berjualan yang sangat sempit.
              </p>
              <p class="p-box">
                <i class="fa-solid fa-mobile fa-2x"></i>
                Lambat laun Bapak Ridho berinovasi dengan membuka marketplace di
                Facebook sehingga sistem penjualan juga dapat dilakukan secara
                online. Setelah usaha yang dijalankan lumayan baik dan
                berkembang akhirnya Bapak Ridho menambah jumlah produksi untuk
                diperjualbelikan secara lebih massal.
              </p>
              <p class="p-box">
                <i class="fa-solid fa-bolt fa-2x"></i>
                Kendala yang dialami Bapak Ridho dalam menjalani usaha buah
                stroberi adalah dari faktor eksternal, seperti kendala pada
                cuaca.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="beli" class="full">
      <div class="flex-container">
        <div class="item right">
          <div class="top">
            <h1><i class="fa-solid fa-cart-shopping"></i>Beli Stroberi</h1>
            <img
              style="
                box-shadow: none;
                width: 220px;
                height: 260px;
                display: inline-block;
              "
              class="b1"
              src="./img/banner1.png"
              alt=""
            />
            <img
              style="box-shadow: none; height: 260px; width: 220px"
              class="b2"
              src="./img/banner2.png"
              alt=""
            />
            <img
              style="height: 260px; box-shadow: none; width: 210px"
              class="b2"
              src="./img/LogoLingkaran.png"
              alt=""
            />
          </div>
          <div class="bottom">
            <div class="box5">
              <form action="/" method="post">
                <p class="p-box">
                  <i class="fa-solid fa-user fa-2x"></i>
                  <input type="text" name="name" id="name" placeholder="Nama" />
                </p>
                <p class="p-box">
                  <i class="fa-solid fa-envelope fa-2x"></i>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                  />
                </p>
                <p class="p-box">
                  <i class="fa-solid fa-mobile fa-2x"></i>
                  <input
                    type="text"
                    name="phone"
                    id="phone"
                    placeholder="Nomor HP"
                  />
                </p>
                <p class="p-box">
                  <i class="fa-solid fa-check fa-2x"></i>
                  <input type="submit" value="Kirim" />
                </p>
              </form>
            </div>
          </div>
        </div>
        <div class="item left">
          <div class="top">
            <h1><i class="fa-solid fa-user-group"></i>Tim Pengembang</h1>
          </div>
          <div class="grid">
            <div class="itemz">
              <p>F1E121079<span>Muhammad Arif Firdaus</span></p>
            </div>
            <div class="itemz">
              <p>F1E121080<span>Sabrian Maulana</span></p>
            </div>
            <div class="itemz">
              <p>F1E121081<span>Raihan Ghani PA</span></p>
            </div>
            <div class="itemz">
              <p>F1E121084<span>Akhdan Al Wafi</span></p>
            </div>
            <div class="itemz">
              <p>F1E121155<span>Muhammad Iqbal Firdaus</span></p>
            </div>
            <div class="itemz">
              <p>F1E121156<span>Nanda Putri Ramadhani</span></p>
            </div>
          </div>
          <div class="bottom"><img src="./img/tim.jpg" alt="" /></div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="b1">
          <div>
            <img src="./img/LogoLingkaran.png" alt="" />
            <h1>Bang Ridho Strawberry</h1>
          </div>
        </div>
        <div class="b2">
          <p><i class="fa-solid fa-phone"></i>+6281367772959</p>
          <p><i class="fa-solid fa-envelope"></i>abanggfams2018@gmail.com</p>
          <p>
            <i class="fa-solid fa-location-dot"></i>
            Jl. Bangka RT. 11 No. 67 Kel. Handil Jaya, Kec. Jelutung, Kota Jambi
          </p>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
